html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
		font-family: 'Roboto', sans-serif;
	 }
	
	h1 {
   font-size: 40px;
  text-align: left;
    font-family: , sans-serif;
    margin: 0;
    padding: 20px 0;    
    color: #808080;
    text-shadow: 2px 4px 6px #ffffff;


  }
	
h2 {
 font-size: 40px;
  text-align: center;
    font-family: , sans-serif;
    margin: 0;
    padding: 20px 0;    
    color: #0043ff;
    text-shadow: 2px 4px 6px #ffffff;
}
p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #cfe7ff;
}
body {
  width: 60%;
  margin: 10% auto;
  background-color: #27bbed;
  padding: 4em;
  border: 6px solid;
}


img {
  display: block;
  float: right;
  margin: 0;
  width: 30%;
  border-radius: 16em;

}

}
